* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto;
  background-color: var(--black);
  color: var(--white);
}

#main {
  padding: 3rem;
}

.container {
  width: 80%;
  margin: auto;
}

.container > * {
  padding-top: 3rem;
}

/* Input Section */
.input-section {
  grid-column: 1/4;
  background-color: var(--grey1);
  box-shadow: -1px -1px 1px var(--white-shadow), 1px 1px 1px 1px black;
  font-size: 0.8rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.input-section * {
  margin: 0.5rem 0;
}

.input {
  background-color: var(--white);
  padding: 0.5rem;
  margin-right: 1rem;
}

.div-text {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.87;
}
