* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
}

.eachBox {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
  padding-top: 15px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding-top: 20px;
  border: 2px solid rgb(233, 233, 1);
}

.episodeShow {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px 0 40px 0;
  text-align: center;
}

.episodeTitle {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  color: black;
  border-radius: 10px;
}

.summary {
  padding: 25px;
}

.img {
  padding-top: 30px;
}

#root {
  color: black;
  width: 85%;
  margin: 0 auto;
}

.header {
  background-color: rgb(37, 3, 54);
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.search {
  border: none;
  padding: 10px;
  width: 40%;
  outline: none;
  border-radius: 10px;
}
